BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: true
SeparateDefinitionBlocks: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
